<div class="container-fluid">
  <div class="row-fluid span12">

    <div class="well sidebar-nav-fixed span2">
      <ul class="nav nav-list">
        <% for(var i = 0; i < modules.length; i += 1) { %>
        <% var module = modules[modules[i]], moduleName = modules[i] %>
        <li>
          <ul class="module">
            <li><h4><a href="#<%= moduleName %>-module"><%= modules[i] %></a></h4></li>
            <li>
              <h5>Properties:</h5>
              <ul class="nav properties">
                <% for(var j = 0; j < module.length; j += 1) { %>
                  <% var dox = module[j].dox %>
                  <% for(var k = 0; k < dox.length; k += 1) { %>
                    <% var cData = dox[k] %>
                    <% if(cData.ctx && (cData.ctx.type === 'property')) { %>
                    <li>
                      <a href="#<%= 'property.' + moduleName + '.' + cData.ctx.name %>"><%= cData.ctx.name %></a>
                    </li>
                    <% } %>
                  <% } %>
                <% } %>
              </ul>

              <h5>Methods:</h5>
              <ul class="nav methods">
                <% for(var j = 0; j < module.length; j += 1) { %>
                  <% var dox = module[j].dox %>
                  <% for(var k = 0; k < dox.length; k += 1) { %>
                    <% var cData = dox[k] %>
                    <% if(cData.ctx && (cData.ctx.type === 'function' || cData.ctx.type === 'method')) { %>
                    <li>
                      <a href="#<%= 'method.' + moduleName + '.' + cData.ctx.name %>"><%= cData.ctx.name %></a>
                    </li>
                    <% } %>
                  <% } %>
                <% } %>
              </ul>
            </li>
          </ul>
        </li>
        <% } %>
      </ul>
    </div>

    <div class="span8 offset3 right-panel-info">
      <!--<pre><%= JSON.stringify(modules['cli'], undefined, 4) %></pre>-->
      <h1>Docs</h1>
      <div id="api">
        <% for(var i = 0; i < modules.length; i += 1) { %>
        <% var module = modules[modules[i]], moduleName = modules[i] %>
        <div id="<%= moduleName %>-module">
          <h2><%= moduleName %></h2>

          <div class="module-content">
          <h3>Properties:</h3>
          <% for(var j = 0; j < module.length; j += 1) { %>
            <% var dox = module[j].dox %>
            <% for(var k = 0; k < dox.length; k += 1) { %>
              <% var cData = dox[k] %>
              <% if(cData.ctx && (cData.ctx.type === 'property')) { %>
              <section class="property" id="<%= 'property.' + moduleName + '.' + cData.ctx.name %>">
                <h3><%= moduleName + '.' + cData.ctx.name %></h3>
                <%- cData.description.full %>   
                <% var tData = cData.tags %>
                 <p class="params-info">
                <% for(var l = 0; l < tData.length; l += 1) { %>
                  @<%= tData[l].type %> {<%= tData[l].types %>} <%= tData[l].description %><br/>
                <% } %>
                </p>            
                <pre class="js"><%= cData.code %></pre>
              </section>
              <% } %>
            <% } %>
          <% } %>

          <h3>Methods:</h3>
          <% for(var j = 0; j < module.length; j += 1) { %>
            <% var dox = module[j].dox %>
            <% for(var k = 0; k < dox.length; k += 1) { %>
              <% var cData = dox[k] %>
              <% if(cData.ctx && (cData.ctx.type === 'function' || cData.ctx.type === 'method')) { %>
              <section class="method" id="<%= 'method.' + moduleName + '.' + cData.ctx.name %>">
                <h3>
                  <%= moduleName + '.' + cData.ctx.name %>
                </h3>
                <%- cData.description.full %>
                 <% var tData = cData.tags %>
                 <p class="params-info">
                <% for(var l = 0; l < tData.length; l += 1) { %>
                  @<%= tData[l].type %> {<%= tData[l].types %>} <%= tData[l].description %><br/>
                <% } %>
                </p>
                <pre class="js"><%= cData.code %></pre>
              </section>
              <% } %>
            <% } %>
          <% } %>
          </div>
        </div>
        <% } %>
      </div>
    </div>

  </div>
</div>