<div class="container-fluid">
  <div class="row-fluid span12">

    <div class="well sidebar-nav-fixed span2">
      <ul class="nav nav-list" id="nav-list">
        <% for(var i = 0; i < modules.length; i += 1) { %>
        <% var module = modules[modules[i]], moduleName = modules[i] %>
        <li>
          <ul class="module">
            <li><h4><a class="mod-link" href="#<%= moduleName %>-module"><%= modules[i] %></a></h4></li>
            <li>  
              <ul class="module-items">
              <% if(module.classes.length > 0) { %>
                <li class="nav classes">
                  <ul>
                    <li><h5>Classes:</h5></li>
                  <% for(var j = 0, len = module.classes.length; j < len; j += 1) { %>
                    <% var cData = module.classes[j] %>
                    <li>
                      <a href="#<%= 'class.' + moduleName + '.' + cData.ctx.name %>"><%= cData.ctx.name %></a>
                    </li>  
                    <% if(cData.properties.length > 0) { %>
                      <ul>
                       <li><h6 class="class-indent"><%= cData.ctx.name %> Properties:</h6></li>
                         <% for(var k = 0, len2 = cData.methods.length; k < len2; k += 1) { %>
                          <% var cData2 = cData.properties[k] %>
                          <li class="class-indent">
                            <a href="#<%= 'class.property.'  + cData2.ctx.name %>"><%= cData2.ctx.name %></a>
                          </li> 
                         <% } %>
                       </ul> 
                    <% } %>

                    <% if(cData.methods.length > 0) { %>
                     <ul>
                     <li><h6 class="class-indent"><%= cData.ctx.name %> Methods:</h6></li>
                       <% for(var k = 0, len2 = cData.methods.length; k < len2; k += 1) { %>
                        <% var cData2 = cData.methods[k] %>
                        <li class="class-indent">
                          <a href="#<%= 'class.method.'  + cData2.ctx.name %>"><%= cData2.ctx.name %></a>
                        </li> 
                       <% } %>
                     </ul>
                    <% } %>

                  <% } %>

                  </ul>
                </li>
              <% } %>

              <% if(module.properties.length > 0) { %>
                <li class="nav properties">
                  <ul>
                    <li><h5>Properties:</h5></li>
                  <% for(var j = 0, len = module.properties.length; j < len; j += 1) { %>
                    <% var cData = module.properties[j] %>
                
                    <li>
                      <a href="#<%= 'property.' + moduleName + '.' + cData.ctx.name %>"><%= cData.ctx.name %></a>
                    </li>
                  <% } %>
                  </ul>             
                </li>
              <% } %>
              
              <% if(module.methods.length > 0) { %>
                <li class="nav methods">
                  <ul>
                  <li><h5>Methods:</h5></li>
                  <% for(var j = 0, len = module.methods.length; j < len; j += 1) { %>
                    <% var cData = module.methods[j] %>
                   
                    <li>
                      <a href="#<%= 'method.' + moduleName + '.' + cData.ctx.name %>"><%= cData.ctx.name %></a>
                    </li>
                  <% } %>
                  </ul>
                </li>
              <% } %>

            </ul>  


            </li>
          </ul>
        </li>
        <% } %>
      </ul>
    </div>

    <div class="span8 offset3 right-panel-info">
      <!--<pre><%= JSON.stringify(modules['adapter'].classes, undefined, 4) %></pre>-->

      <h1>Docs</h1>
      <div id="api">
        <% for(var i = 0; i < modules.length; i += 1) { %>
        <% var module = modules[modules[i]], moduleName = modules[i] %>
        <div id="<%= moduleName %>-module" class="module">
          <h2><%= moduleName %></h2>
        
          <div class="module-content">
        
          <% if(module.classes.length) { %>            
            <h3>Classes:</h3>
            <section class="class">
              <% for(var j = 0, len = module.classes.length; j < len; j += 1) { %>
                  <% var cData = module.classes[j] %>
                  <h4><%= cData.ctx.name %></h4>

                  <% if(typeof cData.description !== 'undefined') { %>
                    <%- cData.description.full %>
                  <% } %>
                  
                  <h5 class="class-method-h"><%= cData.ctx.name %> Methods:</h5>
                  <% for(var k = 0, len2 = cData.methods.length; k < len2; k += 1) { %>
                    <% var mData = cData.methods[k] %>
                    <div class="class-method" id="class.method.<%= mData.ctx.name %>">
                      <h6><%= mData.ctx.name %></h6>

                      <h6>Description:</h6>
                      <%- mData.description.full %>

                      <% var mTags = mData.tags %>
      
                      <h6>Parameters:</h6>
                      <p>
                      <% for(var m = 0, len3 = mData.tags.length; m < len3; m += 1) { %>
                        <%= mTags[m].type + ' ' + mTags[m].types + ' ' + mTags[m].description %><br/>                                             
                      <% } %>
                      </p>

                      <h6>Code:</h6>
                      <pre><%= mData.code %></pre>
                    </div>  

                  <% } %>                  
              <% } %>  
            </section>                              
          <% } %>
   

          <h3>Properties:</h3>
          <% for(var j = 0; j < module.length; j += 1) { %>
            <% var dox = module[j].dox %>

            <% var lastProp = '' %>

            <% for(var k = 0; k < dox.length; k += 1) { %>
              <% var cData = dox[k] %>
              <% if(cData.ctx && (cData.ctx.type === 'property')) { %>
                <% lastProp = cData.ctx.name %>
              <% } %>  
            <% } %>          

            <% for(var k = 0; k < dox.length; k += 1) { %>
              <% var cData = dox[k] %>
              <% if(cData.ctx && (cData.ctx.type === 'property')) { %>
            
              <% var truelastProp = '' %>

              <% if(cData.ctx.name === lastProp) { %>
                <% truelastProp = ' last-section' %>
              <% } %>
            
              <section class="property<%= truelastProp %>" id="<%= 'property.' + moduleName + '.' + cData.ctx.name %>">              
                <h4><%= moduleName + '.' + cData.ctx.name %></h4>
                <%- cData.description.full %>   
                <% var tData = cData.tags %>
                 <p class="params-info">
                <% for(var l = 0; l < tData.length; l += 1) { %>
                  <%= tData[l].type %> <%= tData[l].types %> <%= tData[l].description %><br/>
                <% } %>
                </p>                            
                <pre class="js"><%= cData.code %></pre>
              </section>
              <% } %>
            <% } %>
          <% } %>

          <h3>Methods:</h3>
          <% for(var j = 0; j < module.length; j += 1) { %>
            <% var dox = module[j].dox %>
            <% for(var k = 0; k < dox.length; k += 1) { %>
              <% var cData = dox[k] %>
              <% if(cData.ctx && (cData.ctx.type === 'function' || cData.ctx.type === 'method')) { %>
              <% var lastSection = '' %>
              <% if(k === dox.length - 1) { %>
               <% lastSection = ' last-section' %>
              <% } %>
              <section class="method<%= lastSection %>" id="<%= 'method.' + moduleName + '.' + cData.ctx.name %>">
                <% var tData = cData.tags %>
                <% var tDataString = '' %>
                <% for(var l = 0; l < tData.length; l += 1) { %>

                <% if(typeof tData[l].name == 'string') { %>
                  <% if(tData[l].name.indexOf('[')  > -1) { %>
                    <% tDataString += (tData[l].name.replace(/[\[\]']+/g,'') + ', ') %>          
                 <% } else { %>
                   <% tDataString += (tData[l].name + ', ') %>
                 <% } %>
               <% } %>
                                              
                <% } %>
                <% tDataString = tDataString.substr(0,(tDataString.length - 2)) %>              
                <h4>
                  <%= moduleName + '.' + cData.ctx.name + '(' + tDataString + ')' %>
                </h4>
                <h5>Description:</h5>
                <%- cData.description.full %>
                 
                 <p class="params-info">
                 <h5>Parameters:</h5>
                <% for(var l = 0; l < tData.length; l += 1) { %>
                  <%= tData[l].type %> <%= tData[l].types %> <%= tData[l].description %><br/>
                <% } %>
                </p>



                <h5>Code:</h5>
                <pre class="js"><%= cData.code %></pre>
              </section>
              <% } %>
            <% } %>
          <% } %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
